.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    bottom: 47%;
    left: 8%;
  }
  .baloon {
    position: absolute;
    top: 10%;
    left: 20%;
  }
  p{
    position: absolute;
    top: 15%;
    left: 21%;
    z-index: 1;
  }  

  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 35%;
    top: 30%;
  }